$fa-font-path: '~font-awesome/fonts';
@import "~font-awesome/scss/font-awesome";
$info : #004368;

@import "~bootstrap/scss/bootstrap";

// custom ratios
.ratio-2x3 {
  --bs-aspect-ratio: calc(3 / 2 * 100%);
}